.bannerWrapper {
   display: flex;
   flex-direction: row;
   height: 100%;
   overflow: hidden;
   width: 100%;
   position: relative;
   gap: 3rem;
   min-height: 630px;
   padding: 5rem 3rem 3rem;
   margin-top: 80px;
   border-bottom: 1px solid var(--border-grid);
}

.bannerImage {
   width: 500px;
   height: 500px;
   object-fit: cover;
   z-index: 0;
   padding: 0.5rem;
   border: 1px solid var(--border-grid);
   align-self: flex-end;
}

.textWrapper {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.title {
   @include h2;

   color: var(--text-primary);
   font-weight: 700;
   line-height: 0.9;
   text-transform: uppercase;
}

.artists {
   @include h4;

   color: var(--text-muted);
   margin-left: 0.3rem;
}
