.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1000;
   background: rgb(0 0 0 / 70%);
   backdrop-filter: blur(8px);
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   z-index: 1001;
   pointer-events: none;
}

.content {
   position: relative;
   background: var(--bg-primary);
   border: 1px solid var(--border-grid);
   padding: 1.5rem;
   width: 100%;
   max-width: 500px;
   max-height: 90vh;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   z-index: 1100;
   box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
   pointer-events: all;
}

.modalWrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   width: 100%;
   max-width: 500px;
}

.closeButton {
   pointer-events: all;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   padding: 10px 0 10px 10px;
   height: auto;
   font-size: 2rem;
   transition: all 0.2s ease-in;
   transform: scaleX(1.5);

   &:hover {
      color: $color-accent;
      cursor: pointer;
   }
}
