.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1000;
   background: rgb(0 0 0 / 70%);
   backdrop-filter: blur(8px);
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   z-index: 1001;
   pointer-events: none;
}

.content {
   position: relative;
   background: $bg-primary;
   border: 1px solid $border-dark;
   border-radius: 16px;
   padding: 2.75rem 2rem 2rem;
   width: 100%;
   max-width: 500px;
   max-height: 90vh;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   z-index: 1100;
   box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
   pointer-events: all;
}

.closeButton {
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   z-index: 20;
   background-color: $button-bg-transparent;

   &:hover {
      color: $text-primary;
      background: $button-bg-transparent;
   }
}
