.headerTextContent {
   display: flex;
   gap: 0.5rem;
   flex-direction: column;
}

.mainText {
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 2rem;
   text-align: center;
   color: #fff;
}

.secondaryText {
   font-weight: 400;
   font-size: 0.875rem;
   line-height: 1.25rem;
   text-align: center;
   color: $text-secondary;
}

.formContainer {
   display: flex;
   flex-direction: column;
   gap: 1.25rem;
   width: 100%;
}
