.avatarSquare {
   width: 278px;
   height: 278px;
   overflow: hidden;
   background: var(--bg-primary);
   display: flex;
   align-items: center;
   justify-content: center;
   justify-self: center;
   flex-shrink: 0;
   border: 1px solid var(--border-grid);

   &.extraSmall {
      width: 22px;
      height: 22px;
   }

   &.small {
      width: 46px;
      height: 46px;
   }

   &.medium {
      width: 75px;
      height: 75px;
   }

   &.large {
      width: 278px;
      height: 278px;
   }
}

.avatarImg {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.avatarPlaceholder {
   width: 80%;
   height: 80%;
   border-radius: 35%;
   object-fit: cover;
   display: block;
   user-select: none;
}
