.pageWrapper {
   display: grid;
   grid-template-columns: 1fr 380px;
   height: 100%;
   overflow: hidden;
   width: 100%;
   background: var(--bg-main);
   padding-bottom: 60px;
   max-width: 1920px;
   margin: 0 auto;
}

.content {
   display: flex;
   flex-direction: column;
   width: 100%;
}
