.avatarBlock {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1rem;
   height: 100%;
   max-width: 350px;
   width: 100%;
   padding: var(--blocks-padding);
   margin-block: 1.5rem;

   @include breakpoint('tablet') {
      margin-block: 0;
      max-width: unset;
      width: 100%;
   }
}

.avatarFrame {
   overflow: hidden;
   position: relative;
}
