.wrapper {
   position: fixed;
   top: 80;
   right: 0;
   display: flex;
   flex-direction: column;
   height: 100%;
   max-height: 88vh;
   width: 380px;
   background: var(--bg-main);
   border-left: 1px solid var(--border-grid);
   overflow-y: auto;
   overscroll-behavior: contain;
   padding-bottom: 75px;
   scrollbar-width: none;
   mask-image: linear-gradient(to bottom, black calc(100% - 120px), transparent 100%);

   &::-webkit-scrollbar {
      display: none;
   }
}

.info {
   padding-inline: 1rem;
   display: flex;
   justify-content: space-between;
   padding-block: 1.5rem;
   align-items: center;

   span {
      @include h4;

      color: var(--text-primary);
   }
}

.trackTab {
   display: grid;
   grid-template-columns: 0.1fr 1fr 0.1fr;
   align-items: center;
   gap: 0.5rem;
   border-bottom: 1px solid var(--border-grid);
   padding-block: 1.1rem;
   width: 100%;
   transition: background 0.2s ease;
   padding-inline: 1rem;
   border-left: 2px solid transparent;

   &:hover {
      background: var(--bg-primary);

      .trackTitle {
         transition: color 0.2s ease;
         color: var(--bg-secondary);
      }

      .trackNum {
         transition: color 0.2s ease;
         color: $color-accent;
      }
   }

   &.active {
      background: var(--bg-primary);
      border-left: 2px solid $color-accent;

      .trackTitle {
         color: var(--bg-secondary);
      }

      .trackNum,
      .trackDuration {
         color: $color-accent;
      }
   }
}

.trackNum {
   @include label-medium;

   color: var(--text-muted);
}

.trackTitle {
   @include h5;

   text-transform: initial;
   text-align: left;
}

.trackDuration {
   @include label-small;

   text-align: left;
}
