.button {
   padding: 0.5rem;
   border-radius: 6px;
   cursor: pointer;
   font-weight: 500;
   font-size: 1rem;
   width: 100%;
   text-align: center;
   transition:
      background-color 0.25s ease-in-out,
      color 0.25s ease-in-out;

   &.disableHover {
      cursor: default;
   }

   &.filled {
      background-color: $button-light-bg;
      color: black;

      &:hover:not(:disabled, .disableHover) {
         background-color: $button-bg-transparent;
         color: $button-light-bg;
      }
   }

   &.transparent {
      background-color: transparent;
      color: $text-secondary;

      &:hover:not(:disabled, .disableHover) {
         background-color: $button-bg-transparent;
         color: white;
      }
   }

   &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
   }
}
