.headerTextContent {
   display: flex;
   gap: 0.5rem;
   flex-direction: column;
   margin-block: 1rem;
}

.mainText {
   @include h4;

   text-align: center;
   color: var(--text-muted);
}

.secondaryText {
   @include h5;

   text-align: center;
   color: var(--text-muted);

   strong {
      color: var(--text-primary);
   }
}

.error {
   color: $color-accent;
   text-align: center;
}

.submitButton {
   margin-top: 0.5rem;
}

.successRegisterWrapper {
   display: flex;
   gap: 1.5rem;
   flex-direction: column;
   margin-bottom: 1rem;
}
