.headerTextContent {
   display: flex;
   gap: 0.25rem;
   flex-direction: column;
   margin-block: 1rem;
}

.mainText {
   @include h4;

   text-align: center;
   color: var(--text-muted);
}

.secondaryText {
   @include h5;

   line-height: 1.5;
   text-align: center;
   color: var(--text-muted);

   strong {
      color: var(--text-primary);
   }
}

.error {
   font-family: var(--font-mono);
   color: $color-accent;
   text-align: center;
}

.submitButton {
   margin-top: 0.5rem;
}

.successRegisterWrapper {
   display: flex;
   gap: 1.5rem;
   flex-direction: column;
   margin-bottom: 1rem;
}

.forgotPasswordButton {
   font-family: var(--font-inter);
   color: var(--text-muted);
   cursor: pointer;
   font-size: 0.875rem;
   font-weight: 400;
   text-align: right;
   margin-left: auto;
   padding-bottom: 1px;
   transition: all 0.15s ease-in;
   margin-bottom: 0.5rem;

   @include hover-only {
      &:hover {
         text-decoration: underline;
         text-underline-offset: 0.25em;
         color: var(--text-primary);
      }
   }
}
