@use '@/shared/styles/variables' as *;
@use '@/shared/styles/typography' as *;
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/breakpoints' as *;

@mixin button-sizes {
   &.medium {
      font-weight: 600;
      font-size: 0.75rem;
      height: 44px;
      padding-inline: 16px;
   }

   &.large {
      font-size: 1rem;
      height: 55px;
      padding-inline: 40px;
      font-weight: 900;
   }
}

@mixin variant-primary {
   @include button-sizes;

   text-transform: uppercase;
   background-color: var(--bg-primary);
   color: var(--text-primary);
   border: 1px solid var(--border-grid);

   &:hover {
      background-color: var(--bg-raised);
      color: var(--text-muted);
   }
}

@mixin variant-secondary {
   @include button-sizes;

   background-color: var(--bg-secondary);
   color: var(--text-secondary);
   border: 1px solid var(--border-grid);
   text-transform: uppercase;

   &:hover {
      background-color: var(--bg-raised);
      color: var(--text-muted);
   }
}

@mixin variant-red {
   @include button-sizes;

   background-color: $color-accent;
   color: var(--text-primary);
   text-transform: uppercase;
   border: 1px solid #6d6d6d;

   &:hover {
      background-color: var(--bg-primary);
      color: var(--text-primary);
   }
}

.button {
   font-family: var(--font-inter);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border: 1px solid transparent;
   transition:
      background-color 0.25s ease-in-out,
      color 0.25s ease-in-out;

   &.primary {
      @include variant-primary;
   }

   &.secondary {
      @include variant-secondary;
   }

   &.red {
      @include variant-red;
   }

   &[data-disabled='true'] {
      opacity: 0.3;
      pointer-events: none;
   }
}

.linkButton {
   font-family: var(--font-inter);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border: 1px solid transparent;
   transition:
      background-color 0.25s ease-in-out,
      color 0.25s ease-in-out;

   &.primary {
      @include variant-primary;
   }

   &.secondary {
      @include variant-secondary;
   }

   &.red {
      @include variant-red;
   }

   &[data-disabled='true'] {
      pointer-events: none;
   }
}
