@use '@/shared/styles/variables.scss' as *;
@use '@/shared/styles/breakpoints' as *;
@use '@/shared/styles/typography' as *;

@mixin hover-only {
   @media (hover: hover) {
      @content;
   }
}

@mixin divider($h: 20px, $m: 8px) {
   width: 1px;
   height: $h;
   background: #333;
   margin: 0 $m;
}

@mixin page-paddings {
   padding-top: 76px;
   padding-inline: 16px;

   @include breakpoint('mobile') {
      padding-inline: 24px;
   }

   @include breakpoint('tablet') {
      padding-inline: 32px;
   }

   @include breakpoint('laptop') {
      padding-inline: 40px;
   }

   @include breakpoint('wide') {
      padding-inline: 64px;
   }
}
