@use '@/shared/styles/variables.scss' as *;

@mixin font-geist($weight: 400) {
   font-family: var(--font-geist-sans), sans-serif;
   font-weight: $weight;
}

@mixin divider($h: 20px, $m: 8px) {
   width: 1px;
   height: $h;
   background: #333;
   margin: 0 $m;
}

@mixin blur-card {
   background: $bg-card;
   backdrop-filter: blur(30px);
   border: 1px solid rgb(255 255 255 / 30%);
   box-shadow: 0 8px 32px 0 rgb(0 0 0 / 20%);
   width: fit-content;
   margin: 0 auto;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 10px 20px;
   border-radius: 50px;
}

@mixin fixed-center($topPadding: 50px, $bottomPadding: 50px) {
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   z-index: 100;
   padding: $topPadding 50px $bottomPadding;
}

@mixin ghost-button {
   min-height: 40px;
   min-width: 40px;
   width: fit-content;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   font-size: 12px;
   letter-spacing: 1.2px;
   text-transform: uppercase;
   color: #999;
   text-decoration: none;
   padding: 8px 12px;
   border-radius: 20px;
   border: 1px solid transparent;
   transition:
      color 0.2s ease,
      background 0.2s ease;
   cursor: pointer;

   &:hover:not(.disabled) {
      background-color: #2a2a2a;
      color: #fff;
   }

   &:active:not(.disabled) {
      transform: scale(0.97);
   }

   &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
   }

   &.active {
      background-color: $button-bg-transparent;
      border: 1px solid $button-border-light;
      color: $text-primary;

      &:hover {
         background-color: $button-bg-transparent;
      }
   }
}
