@use '@/shared/styles/variables.scss' as *;
@use '@/shared/styles/breakpoints' as *;
@use '@/shared/styles/typography' as *;

@mixin divider($h: 20px, $m: 8px) {
   width: 1px;
   height: $h;
   background: #333;
   margin: 0 $m;
}
