@use '@/shared/styles/variables.scss' as *;

@mixin font-geist($weight: 400) {
   font-family: var(--font-geist-sans), sans-serif;
   font-weight: $weight;
}

@mixin divider($h: 20px, $m: 12px) {
   width: 1px;
   height: $h;
   background: #333;
   margin: 0 $m;
}

@mixin blur-card {
   background: $bg-card;
   backdrop-filter: blur(30px);
   border: 1px solid rgb(255 255 255 / 30%);
   box-shadow: 0 8px 32px 0 rgb(0 0 0 / 20%);
   width: fit-content;
   margin: 0 auto;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 10px 20px;
   border-radius: 50px;
}

@mixin fixed-center($topPadding: 50px, $bottomPadding: 50px) {
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   z-index: 100;
   padding: $topPadding 50px $bottomPadding;
}
