$base-line-height: 1.5;
$reduced-motion-duration: 0.01ms;

// Background colors
$bg-primary: #121212; // Main page background
$bg-card: #191919; // Card background

// Text colors
$text-primary: #fff; // Main text
$text-secondary: #6b7280; // Secondary text
$text-tertiary: #9ca3af; // Tertiary text

// Border colors
$border-primary: #242424; // Main borders
$border-dark: #303030; // Dark borders
$border-light: #504e50; // Light borders

// Button colors
$button-bg-transparent: #ffffff1a; // Transparent button background (10% white)
$button-light-bg: #f5f5f5;
$button-border-light: #ffffff26; // Light button border (15% white)

$error-color: #ef4444;
