$font-main: var(--font-geist-sans), sans-serif;
$base-line-height: 1.5;
$reduced-motion-duration: 0.01ms;

// colors
$color-dark: #121212;
$color-gray: #6b7280;
$color-light-gray: #9ca3af;
$color-dark-gray: #191919;
$color-border: #242424;
