*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   text-size-adjust: 100%;
}

body {
   height: 100%;
   margin: 0;
   padding: 0 24px;
   line-height: $base-line-height;
   font-family: $font-main;
   background-color: $bg-primary;
   text-rendering: optimizespeed;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
}

a {
   text-decoration: none;
   color: inherit;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
   height: auto;
}

input,
button,
textarea,
select {
   font: inherit;
   all: unset;
   box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   box-shadow: 0 0 0 1000px #121212 inset !important;
   -webkit-text-fill-color: #fff !important;
   caret-color: #fff;
}

button {
   cursor: pointer;
   background: none;
   border: none;
   padding: 0;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

@media (prefers-reduced-motion: reduce) {
   *,
   *::before,
   *::after {
      animation-duration: $reduced-motion-duration !important;
      animation-iteration-count: 1 !important;
      transition-duration: $reduced-motion-duration !important;
      scroll-behavior: auto !important;
   }
}

.mainContainer {
   max-width: 1440px;
   margin: 0 auto;
   padding-top: 6.5rem;
}
