.wrapperMobile {
   display: flex;
   flex-direction: column;
   padding: 1rem 0 7rem;
   justify-content: center;
   align-items: center;
   max-width: 650px;
   margin: 0 auto;
   width: 100%;

   @include breakpoint('tablet') {
      display: none;
   }
}

.wrapperDesktop {
   display: none;

   @include breakpoint('tablet') {
      display: grid;

      --line-offset-row: 0px;
      --line-offset-column: 0px;
      --line-thickness: 1px;
      --line-color: var(--border-grid);
      --blocks-padding: 1rem;

      grid-template-columns: 0.5fr 1.8fr 0.5fr;
      overflow: hidden;
      padding-bottom: 5rem;
      border-bottom: 1px solid var(--border-grid);
      border-right: 1px solid var(--border-grid);
      border-left: 1px solid var(--border-grid);

      & > * {
         position: relative;
      }

      & > *:nth-child(3n + 2):not(:nth-child(-n + 3))::after {
         content: '';
         position: absolute;
         background-color: var(--line-color);
         z-index: 1;
         inline-size: 100vw;
         block-size: var(--line-thickness);
         inset-inline-start: 0;
         inset-block-start: calc(var(--line-offset-row) * -1);
      }

      & > *:nth-child(n + 2):nth-child(-n + 4)::before {
         content: '';
         position: absolute;
         background-color: var(--line-color);
         z-index: 1;
         inline-size: var(--line-thickness);
         block-size: 100vh;
         inset-block-start: 0;
         inset-inline-start: calc(var(--line-offset-column) * -1);
      }
   }

   @include breakpoint('laptop') {
      border-left: 0 solid var(--border-grid);
      border-right: 0 solid var(--border-grid);
      overflow: visible;
   }

   @include breakpoint('desktop') {
      --blocks-padding: 2rem;
   }
}

.tabInfoWrapper {
   align-self: baseline;
   padding: var(--blocks-padding);

   @include breakpoint('tablet') {
      align-self: center;
   }
}

.subtitle {
   @include h5;

   display: flex;
   align-items: center;
   gap: 0.5rem;
   margin-bottom: 0.5rem;

   &::before {
      content: '';
      display: block;
      width: 20px;
      height: 1px;
      background: var(--text-muted);
   }
}

.title {
   @include h2;
}

.absoluteUsername {
   position: absolute;
   display: none;
   white-space: nowrap;
   font-size: 18rem;
   transform: translateY(-50%) rotate(-90deg);
   transform-origin: right center;
   z-index: -1;
   color: var(--text-muted);
   opacity: 0.05;
   pointer-events: none;

   @include breakpoint('tablet') {
      right: 13.5%;
      top: 1%;
      display: block;
   }
}

.formStack {
   display: flex;
   flex-direction: column;
   padding: var(--blocks-padding);
   gap: 1.5rem;
   max-width: 350px;
   width: 100%;
   justify-content: center;
   align-items: center;

   * {
      width: 100%;
   }

   @include breakpoint('tablet') {
      gap: 2.5rem;
      align-items: unset;
      max-width: unset;
      width: 100%;

      * {
         width: unset;
      }
   }
}

.formInputGroup,
.inputGroup {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.inputGroup {
   width: 100%;
   max-width: 350px;

   @include breakpoint('tablet') {
      max-width: 300px;
   }
}

.fieldLabel {
   @include label-small;
}
