.profileSettingsWrapper {
   --line-offset-row: 0px;
   --line-offset-column: 0px;
   --line-thickness: 1px;
   --line-color: var(--border-grid);
   --blocks-padding: 2rem;

   display: grid;
   grid-template-columns: 0.7fr 1.6fr 0.7fr;
   overflow: hidden;
   padding-bottom: 5rem;
   border-bottom: 1px solid var(--border-grid);
   border-right: 1px solid var(--border-grid);

   & > * {
      position: relative;
   }

   & > *:nth-child(3n + 2):not(:nth-child(-n + 3))::after {
      content: '';
      position: absolute;
      background-color: var(--line-color);
      z-index: 1;
      inline-size: 100vw;
      block-size: var(--line-thickness);
      inset-inline-start: 0;
      inset-block-start: calc(var(--line-offset-row) * -1);
   }

   & > *:nth-child(n + 2):nth-child(-n + 4)::before {
      content: '';
      position: absolute;
      background-color: var(--line-color);
      z-index: 1;
      inline-size: var(--line-thickness);
      block-size: 100vh;
      inset-block-start: 0;
      inset-inline-start: calc(var(--line-offset-column) * -1);
   }
}

.tabInfoWrapper {
   padding: var(--blocks-padding);
}

.subtitle {
   @include h5;

   display: flex;
   align-items: center;
   gap: 0.5rem;
   margin-bottom: 0.5rem;

   &::before {
      content: '';
      display: block;
      width: 20px;
      height: 1px;
      background: var(--text-muted);
   }
}

.title {
   @include h2;
}

.absoluteUsername {
   position: absolute;
   right: 13.5%;
   top: 1%;
   white-space: nowrap;
   font-size: 18rem;
   transform: translateY(-50%) rotate(-90deg);
   transform-origin: right center;
   z-index: -1;
   color: var(--text-muted);
   opacity: 0.05;
   pointer-events: none;
}

.formStack {
   padding: var(--blocks-padding);
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
   width: 100%;
}

.formInputGroup,
.inputGroup {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
}

.inputGroup {
   max-width: 300px;
}

.fieldLabel {
   @include label-small;
}
