.headerButtons {
   border: 1px solid $border-dark;
   border-radius: 10px;
   padding: 4.5px;
   width: 100%;
   display: flex;
   gap: 6px;
   margin-bottom: 0.5rem;
   background: rgb(255 255 255 / 2%);

   button {
      width: 100%;
   }
}
