.pagination {
   @include blur-card;

   a {
      @include text-base;
   }
}

.ellipsis {
   @include text-base-strong;

   display: flex;
   align-items: center;
   justify-content: center;
   color: $text-tertiary;
   padding: 0;
   letter-spacing: 4px;
   user-select: none;
}
