.pagination {
   @include blur-card;

   a {
      font-size: 16px;
   }
}

.ellipsis {
   display: flex;
   align-items: center;
   justify-content: center;
   color: $text-tertiary;
   font-size: 19px;
   font-weight: 500;
   padding: 0;
   letter-spacing: 4px;
   user-select: none;
}
