.header {
   @include fixed-center(20px, 50px);
   top: 0;
}

.wrapper {
   @include blur-card;
   padding: 8px 15px;
}

.divider {
   @include divider;
}

.nav {
   display: flex;
   align-items: center;
   gap: 4px;
   flex: 1;
}
