.wrapper {
   display: flex;
   flex-direction: column;
   gap: 48px;
}

.releasesGrid {
   display: grid;
   grid-template-columns: repeat(5, minmax(0, 1fr));
   gap: 24px;
}

.paginationWrapper {
   position: fixed;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   padding: 60px 60px 30px 60px;
   z-index: 100;
}
