.wrapper {
   display: flex;
   flex-direction: column;
   gap: 48px;
}

.releasesGrid {
   display: grid;
   grid-template-columns: repeat(5, minmax(0, 1fr));
   gap: 24px;
   padding-bottom: 100px;
}

.paginationWrapper {
   @include fixed-center(50px, 20px);

   bottom: 0;
}
