.container {
   width: 100%;
   height: 4rem;
   display: flex;
   color: $text-primary;
   align-items: center;
   padding: 0 4px;
   margin-bottom: 1rem;
   justify-content: space-between;
}

.titleContainer {
   display: flex;
   align-items: center;
   height: 100%;
}

.line {
   border-left: 5px solid $border-light;
   border-radius: 100px;
   height: 60%;
   margin-right: 12px;
}

.title {
   font-size: 28px;
}

.tabsContainer {
   width: fit-content;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 8px;
   background: $bg-card;
   backdrop-filter: blur(30px);
   border: 1px solid rgb(255 255 255 / 30%);
   border-radius: 100px;
}
