.container {
   width: 100%;
   height: 100%;
   display: flex;
   color: var(--text-primary);
   align-items: center;
   margin-bottom: 2.5rem;
   padding-bottom: 1.4rem;
   justify-content: space-between;
   border-bottom: 1px solid var(--border-grid);

   @include breakpoint('laptop') {
      margin-bottom: 3rem;
   }
}

.title {
   @include h2;

   margin-bottom: 0.5rem;
}

.tabsContainer {
   width: fit-content;
   display: flex;
   align-items: center;
   align-self: flex-end;
   gap: 10px;
}
