.card {
   cursor: pointer;
   display: flex;
   flex-direction: column;
}

.cardImageWrapper {
   position: relative;
   aspect-ratio: 1 / 1;
   overflow: hidden;
   margin-bottom: 0.6rem;
   box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
}

.cardImageOverlay {
   position: absolute;
   inset: 0;
   background-color: rgb(0 0 0 / 40%);
   opacity: 0;
   backdrop-filter: blur(2px);
   transition: opacity 0.2s ease;
   z-index: 2;

   .card:hover & {
      opacity: 0.7;
   }
}

.cardImage {
   transition: all 0.2s ease;
   filter: grayscale(30%) brightness(0.8);
   width: 311px;
   height: 311px;
   object-fit: cover;
   background-position: center;
   background-size: cover;

   .card:hover & {
      filter: grayscale(0%) brightness(1);
      transform: scale(1.04);
   }
}

.cardPlayIcon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.8);
   opacity: 0;
   filter: drop-shadow(0 10px 8px rgb(0 0 0 / 40%));
   transition: all 0.2s ease;
   z-index: 3;
   pointer-events: none;

   .card:hover & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
   }
}

.cardInfo {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   &::before {
      content: '';
      position: absolute;
      left: -8px;
      top: 50%;
      width: 2.5px;
      height: 0;
      transform: translateY(-50%);
      background-color: $color-accent;
      transition: height 0.3s ease;
   }

   .card:hover & {
      &::before {
         height: 100%;
      }
   }
}

.cardTitle {
   @include h4;
}

.cardBottom {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 4px;

   @include breakpoint('mobile') {
      flex-direction: row;
      gap: 10px;
      align-items: end;
   }
}

.cardArtistsNames {
   @include h5;

   color: var(--text-primary);
}

.cardDate {
   @include h6;

   min-width: 75px;
   text-align: end;
}
