.card {
   cursor: pointer;
   padding: 16px;
   border-radius: 16px;
   background-color: rgb($bg-card, 40%);
   backdrop-filter: blur(20px);
   border: 1px solid $border-primary;
   transition: all 0.3s ease;
   display: flex;
   flex-direction: column;

   &:hover {
      background-color: rgb(255 255 255 / 5%);
   }
}

.cardImageWrapper {
   position: relative;
   aspect-ratio: 1 / 1;
   border-radius: 12px;
   overflow: hidden;
   margin-bottom: 16px;
   box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
}

.cardImageOverlay {
   position: absolute;
   inset: 0;
   background-color: rgb(0 0 0 / 40%);
   opacity: 0;
   backdrop-filter: blur(2px);
   transition: opacity 0.3s ease;
   z-index: 2;

   .card:hover & {
      opacity: 1;
   }
}

.cardImage {
   width: 311px;
   height: 311px;
   object-fit: cover;
   background-position: center;
   background-size: cover;
   transition: transform 0.3s ease;

   .card:hover & {
      transform: scale(1.05);
   }
}

.cardPlayIcon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.8);
   opacity: 0;
   filter: drop-shadow(0 10px 8px rgb(0 0 0 / 40%));
   transition: all 0.3s ease;
   z-index: 3;
   pointer-events: none;

   .card:hover & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
   }
}

.cardInfo {
   display: flex;
   flex-direction: column;
   gap: 2px;
}

.cardTitle {
   font-size: 18px;
   font-weight: 700;
   color: #fff;
}

.cardArtistsNames {
   font-size: 16px;
   color: $text-tertiary;
}

.cardDate {
   font-size: 14px;
   color: $text-secondary;
}
