@use '@/shared/styles/buttons' as *;

.grid {
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: minmax(40%, 1fr) minmax(60%, 1fr);
   gap: 36px;
   overflow: hidden;
   margin-bottom: 3rem;
   min-height: 40rem;
   align-items: center;

   @include breakpoint('mobile-xs') {
      grid-template-columns: 1fr;
      gap: 12px;
      margin-bottom: 1.5rem;
   }

   @include breakpoint('laptop') {
      grid-template-columns: minmax(50%, 1fr) minmax(50%, 1fr);
      gap: 18px;
      margin-bottom: 2rem;
   }

   @include breakpoint('wide') {
      grid-template-columns: minmax(40%, 1fr) minmax(60%, 1fr);
      gap: 36px;
      margin-bottom: 3rem;
   }
}

.releaseOfTheWeek {
   @include label-medium;
}

.infoContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   width: 100%;
}

.info {
   display: flex;
   flex-direction: column;
   padding: 24px;
   border-left: 1px solid $color-accent;
   gap: 24px;
   width: 100%;
   height: 100%;
   justify-content: center;

   @include breakpoint('mobile-xs') {
      gap: 16px;
      justify-content: end;
      padding: 0;

      h1,
      h2,
      h3,
      .releaseOfTheWeek,
      .genres {
         padding-left: 12px;
      }
   }

   @include breakpoint('laptop') {
      justify-content: center;
      gap: 24px;
      padding: 24px;

      h1,
      h2,
      h3,
      .releaseOfTheWeek,
      .genres {
         padding-left: 0;
      }
   }
}

.title {
   @include h1;

   text-transform: uppercase;
}

.artist {
   @include h3;

   padding-left: 2.5px;
}

.absoluteTitle {
   position: absolute;
   font-size: 32rem;
   letter-spacing: -0.1rem;
   word-spacing: -0.5rem;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transform-origin: center center;
   z-index: 0;
   color: transparent;
   line-height: 1;
   text-transform: uppercase;
   -webkit-text-stroke: 2px var(--border-grid);
   pointer-events: none;
   user-select: none;
   white-space: nowrap;
   text-orientation: mixed;

   @include breakpoint('mobile-xs') {
      display: none;
   }

   @include breakpoint('laptop') {
      display: inline;
      font-size: 24rem;
   }

   @include breakpoint('wide') {
      font-size: 32rem;
   }
}

.genres {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   margin-bottom: 2rem;

   @include breakpoint('mobile-xs') {
      margin-bottom: 1rem;
   }

   @include breakpoint('wide') {
      margin-bottom: 2rem;
   }
}

.listenNowBtn {
   width: fit-content;

   @include breakpoint('mobile-xs') {
      width: 100%;
   }

   @include breakpoint('tablet') {
      width: 35%;
   }

   @include breakpoint('laptop') {
      width: fit-content;
   }
}

.coverContainer {
   z-index: 1;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: start;

   @include breakpoint('mobile-xs') {
      justify-content: center;
   }

   @include breakpoint('laptop') {
      justify-content: start;
   }

   .coverImage {
      object-fit: cover;
      border: 1px solid var(--border-grid);
      padding: 8px;
      filter: grayscale(60%);
      transition: filter 0.6s ease;

      @include hover-only {
         &:hover {
            filter: grayscale(0%);
         }
      }
   }

   .coverSkeleton {
      width: 100%;
      height: 100%;
   }
}
