.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   position: relative;
   gap: 1rem;
}

.textarea {
   min-height: 100px;
   max-height: 250px;
   font-family: var(--font-mono);
   color: var(--text-primary);
   padding: 10px;
   width: 100%;
   height: 50px;
   background: var(--bg-raised);
   border: 1px solid var(--border-grid);
   transition: border-color 0.2s ease-in;
   outline: none;
   resize: none;
   scrollbar-width: none;

   &::-webkit-scrollbar {
      display: none;
   }

   &:focus,
   &:focus-visible {
      border-color: var(--text-muted) !important;
   }

   &[data-disabled='true'] {
      color: var(--text-muted);
      cursor: not-allowed;
      opacity: 0.5;
   }
}

.activeTextareaBtn {
   width: max-content;
   height: 100% !important;
   justify-self: flex-end;
}

.bottomContent {
   display: flex;
   justify-content: space-between;
   align-items: center;

   @include h5;

   margin-top: -0.5rem;

   span {
      margin-left: auto;
   }
}

.sendCommentBtn {
   align-self: flex-end;
   width: 150px;
}

.textareaActionButtons {
   display: flex;
   gap: 1rem;
   margin-left: auto;
}
